CREATE TABLE envio_num_autorizacion (
  id_correlativo BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
  co_excepcion CHAR(4) NOT NULL,
  tx_nombre VARCHAR(32) NOT NULL,
  co_iafa CHAR(5) NOT NULL,
  id_receptor CHAR(5) NOT NULL,
  fe_transaccion CHAR(8) NOT NULL,
  ho_transaccion CHAR(6) NOT NULL,
  co_admisionista VARCHAR(32),
  ap_paterno_paciente VARCHAR(64) NOT NULL,
  no_paciente VARCHAR(64) NOT NULL,
  co_af_paciente VARCHAR(32) NOT NULL,
  ap_materno_paciente VARCHAR(64),
  co_es_paciente VARCHAR(8),
  ti_do_paciente CHAR(1) NOT NULL,
  nu_do_paciente VARCHAR(32) NOT NULL,
  nu_iden_empleador VARCHAR(32),
  nu_contrato_paciente VARCHAR(32),
  nu_poliza VARCHAR(32),
  nu_certificado VARCHAR(32),
  co_ti_poliza_afiliacion CHAR(1) NOT NULL,
  co_producto VARCHAR(64) NOT NULL,
  de_producto VARCHAR(128) NOT NULL,
  nu_plan VARCHAR(32) NOT NULL,
  ti_plan_salud VARCHAR(32),
  co_moneda CHAR(1) NOT NULL,
  co_parentesco VARCHAR(8),
  so_beneficio VARCHAR(32),
  nu_so_beneficio VARCHAR(32),
  co_especialidad VARCHAR(8),
  fe_nacimiento CHAR(8) NOT NULL,
  genero CHAR(1),
  es_marital VARCHAR(16),
  fe_ini_vigencia CHAR(8) NOT NULL,
  fe_fin_vigencia CHAR(8),
  es_cobertura VARCHAR(8),
  nu_dec_accidente VARCHAR(32),
  id_inf_accidente VARCHAR(32),
  de_ti_accidente VARCHAR(32),
  fe_afiliacion CHAR(8),
  fe_ocu_accidente CHAR(8),
  nu_atencion VARCHAR(32),
  id_der_farmacia VARCHAR(32),
  ti_producto VARCHAR(32),
  de_producto_de_farmacia VARCHAR(128),
  fe_atencion CHAR(8),
  nu_cobertura CHAR(1) NOT NULL,
  obs_cobertura VARCHAR(255),
  msg_obs VARCHAR(255),
  msg_con_especiales VARCHAR(255),
  ca_contratante CHAR(1) NOT NULL,
  no_pa_contratante VARCHAR(128) NOT NULL,
  no_contratante VARCHAR(128) NOT NULL,
  no_ma_contratante VARCHAR(128),
  ti_do_contratante CHAR(1) NOT NULL,
  id_re_contratante VARCHAR(32),
  co_re_contratante VARCHAR(32),
  ca_titular VARCHAR(32),
  no_pa_titular VARCHAR(128),
  no_titular VARCHAR(128),
  co_af_titular VARCHAR(32),
  no_ma_titular VARCHAR(128),
  ti_do_titular VARCHAR(8),
  id_re_titular VARCHAR(32),
  nu_do_titular VARCHAR(32),
  fe_inc_titular CHAR(8),
  nu_cob_pre_existencia CHAR(1) NOT NULL,
  be_max_inicial VARCHAR(32) NOT NULL,
  can_servicio VARCHAR(32),
  id_de_producto VARCHAR(32),
  co_ti_cobertura CHAR(1) NOT NULL,
  co_sub_ti_cobertura VARCHAR(32) NOT NULL,
  msg_obs_pre VARCHAR(255),
  msg_con_especiales_pre VARCHAR(255),
  co_ti_moneda CHAR(1) NOT NULL,
  co_pago_fijo VARCHAR(32) NOT NULL,
  co_cal_servicio VARCHAR(32),
  can_cal_servicio VARCHAR(32),
  co_pago_variable VARCHAR(32) NOT NULL,
  flag_cg CHAR(1) NOT NULL,
  deflag_cg VARCHAR(32),
  fe_fin_carencia CHAR(8),
  fe_fin_espera CHAR(8),
  ca_regafi CHAR(1) NOT NULL,
  no_pa_regafi VARCHAR(64) NOT NULL,
  no_regafi VARCHAR(64) NOT NULL,
  co_af_regafi VARCHAR(32) NOT NULL,
  no_ma_regafi VARCHAR(64),
  ti_do_regafi CHAR(1) NOT NULL,
  id_re_regafi VARCHAR(32),
  nu_do_regafi VARCHAR(32) NOT NULL,
  fe_na_regafi CHAR(8) NOT NULL,
  ge_regafi VARCHAR(8),
  co_pais_regafi VARCHAR(8),
  PRIMARY KEY (id_correlativo)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

CREATE TABLE respuesta_num_autorizacion (
  id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
  envio_id BIGINT UNSIGNED NOT NULL,
  no_transaccion VARCHAR(32) NOT NULL,
  id_remitente VARCHAR(32) NOT NULL,
  id_receptor VARCHAR(32) NOT NULL,
  fe_transaccion CHAR(8) NOT NULL,
  ho_transaccion CHAR(6) NOT NULL,
  id_correlativo_respuesta VARCHAR(32) NOT NULL,
  id_transaccion VARCHAR(32) NOT NULL,
  nu_autorizacion VARCHAR(32) NOT NULL,
  co_seguridad VARCHAR(64),
  co_error VARCHAR(8) NOT NULL,
  in_co_error_encontrado VARCHAR(8),
  nu_control VARCHAR(64),
  nu_control_st VARCHAR(64),
  PRIMARY KEY (id),
  CONSTRAINT fk_respuesta_envio
    FOREIGN KEY (envio_id)
    REFERENCES envio_num_autorizacion (id_correlativo)
    ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
